.container {
  width: 100%;
}

.pillContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.listContainer {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
  gap: 14px;
  justify-content: space-between;
}

.livestreamContainer, .quizContainer {
  display: grid;
  gap: 14px;
  justify-content: space-between;
  grid-template-columns: repeat( auto-fit, minmax(120px, 1fr) );
}