.container {
  padding-left: 24px;
  padding-right: 24px;
  width: calc(100%-48px);
}

.pillContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.listContainer {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  display: grid;
  gap: 14px;
  justify-content: space-between;
}

.livestreamContainer, .quizContainer {
  display: grid;
  gap: 14px;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 155px);
}

@media only screen and (min-width: 480px) {
  .container {
    width: 800px;
  }
}